<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="RetryFailedTestSuite" verbose="1" >
 
 <listeners>
        <listener class-name="RetryLogicTestNG.MyTransformer"/>
  </listeners>
  
  <test name="RetryMulitpleFailedTestCases">
    <classes>
      <class name="RetryLogicTestNG.MyTests"/>
    </classes>
  </test>
</suite>